body {
  margin: 0;
  height: 5000px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 25px;
}

p,
span {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

/* header */

.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 13px;
  margin-right: 24px;
  padding: 10px;
  cursor: pointer;
}

.hamburger-menu:hover {
  border-radius: 100%;
  background-color: lightgray;
}

.youtube-logo {
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.superscript {
  font-size: 10px;
  line-height: 0px;
  vertical-align: top;
  position: relative;
  color: grey;
  pointer-events: none;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 650px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 20px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 20px 0 0 20px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(230, 230, 230);
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  font-family: roboto, arial;
  position: absolute;
  background-color: rgba(83, 83, 83, 0.9);
  color: white;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  font-size: 12px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: none;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.voice-search-button:hover {
  background-color: rgb(222, 222, 222);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  margin-right: 20px;
  width: 190px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  background-color: rgb(190, 0, 0);
  color: white;
  font-family: roboto, arial;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 6px 3px 6px;
  border-radius: 100%;
  position: absolute;
  right: 1px;
  top: 5px;
  box-shadow: 0px 0px 0px 1.5px rgb(255, 255, 255);
  pointer-events: none;
  margin-right: 10px;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
  padding: 10px;
}

.upload-icon:hover {
  border-radius: 100%;
  background-color: lightgray;
}

.youtube-apps-icon {
  cursor: pointer;
  height: 24px;
  padding: 10px;
}

.youtube-apps-icon:hover {
  border-radius: 100%;
  background-color: rgb(223, 221, 221);
}

.notifications-icon {
  cursor: pointer;
  height: 24px;
  padding: 9px;
  margin-right: 10px;
}

.notifications-icon:hover {
  border-radius: 100%;
  background-color: rgb(223, 221, 221);
}

.current-user-picture {
  height: 32px;
  cursor: pointer;
  border-radius: 100%;
}

/* sidebar */

@media screen and (min-width: 518px) {
  .sidebar {
    margin-left: 3px;
    position: fixed;
    color: black;
    background-color: white;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 64px;
    z-index: 200;
  }

  .sidebar-link {
    height: 76px;
    display: flex;
    font-size: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 517px) {
  body {
    padding-left: 25px;
  }

  .hamburger-menu {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sidebar {
    position: fixed;
    background-color: white;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: 0px;
    bottom: 0px;
    height: 64px;
    z-index: 200;
  }

  .sidebar-link {
    display: flex;
    flex-direction: column;
    height: 76px;
    display: flex;
    font-size: 10px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 8px;
  }
}

/* video */

.thumbnail {
  width: 100%;
  border-radius: 15px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  cursor: pointer;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.video-time {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  right: 5px;
  bottom: 8px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}

@media screen and (max-width: 517px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 518px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1082px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1408px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1734px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2060px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
